<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Gestión de Vacaciones - Login</title>
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body>
    <div id="customAlert" class="alert oculto"></div>
    <div class="login-container">
      <img src="../img/comfachoco.png" alt="Logo Comfachocó">
      <h2>Iniciar sesión</h2>
      <form id="loginForm">
        <input type="email" id="email" placeholder="Correo" required />
        <input type="password" id="password" placeholder="Contraseña" required />
        <button type="submit">Entrar</button>
      </form>
    </div>
    <!-- Importamos el script separado -->
    <script type="module" src="/js/login.js"></script>
  </body>
</html>
