<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Gestión de Vacaciones - Login</title>
  </head>
  <body>
    <h2>Iniciar sesión</h2>
    <form id="loginForm">
      <input type="email" id="email" placeholder="Correo" required />
      <input type="password" id="password" placeholder="Contraseña" required />
      <button type="submit">Entrar</button>
    </form>

    <!-- Importamos el script separado -->
    <script type="module" src="/js/login.js"></script>
  </body>
</html>
